.App {
  text-align: center;
}

.hint_key.ReactPiano__Key--natural {
  background: #d9ea8a;
}

.hint_key.ReactPiano__Key--accidental {
  background: #9eb04e;
}

.answer_key.ReactPiano__Key--natural {
  background: #92e5fa;
}

.answer_key.ReactPiano__Key--accidental {
  background: #389eb7;
}

.piano-div {
  position: relative;
}

.piano-div.easy {
  padding: 8% 30%;
}

.piano-div.hard {
  padding: 8% 5%;
}

.piano-div.crazy {
  padding: 8% 5%;
}

.responsive-piano{
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  botton: 0;
  left: 0;
  z-index: -1;
}
