.App {
  text-align: center;
}

.hint_key.ReactPiano__Key--natural {
  background: #d9ea8a;
}

.hint_key.ReactPiano__Key--accidental {
  background: #9eb04e;
}

.answer_key.ReactPiano__Key--natural {
  background: #92e5fa;
}

.answer_key.ReactPiano__Key--accidental {
  background: #389eb7;
}

.piano-div {
  padding: 0 10%;
}

.piano-div.easy {

}

.piano-div.hard {

}

.piano-div.crazy {

}

.responsive-piano{

}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  botton: 0;
  left: 0;
  z-index: -1;
}
